<html ng-app="ReaderApp">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}assets/bootstrap/dist/css/bootstrap.min.css">

	<script src="{{ STATIC_URL }}assets/jquery/dist/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}assets/angular/angular.min.js"></script>
	<script src="{{ STATIC_URL }}js/app/app.js"></script>
	<script src="{{ STATIC_URL }}assets/angular-route/angular-route.js"></script>
	<script src="{{ STATIC_URL }}assets/angular-resource/angular-resource.js"></script>
	{% block extra_head %}{% endblock %}
	<title>
		Reader
	</title>
</head>
<body ng-controller="AppCtrl">
	{% block site_wrapper %}{% endblock %}
</body>
</html>