<div class="row">
	<div class="col-lg-3 side-content">
		<h3>Profile</h3>
	</div>
	<div class="col-lg-8 main-content">
		<h3>Links</h3>
		<form class="form" ng-submit="addLink()" name="newLinkForm">
			<h5>Add link</h5>
			<div class="form-group">
				<input type="url" class="form-control" placeholder="http://" ng-model="article.url" required></input>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default" ng-disabled="newLinkForm.$invalid">Send</button>
			</div>
		</form>
		<div class="list-group" >
			<a href="{{article.url}}" class="list-group-item" ng-repeat="article in articles">
				<h4 class="list-group-item-heading">List group item heading</h4>
				<p class="list-group-item-text">{{article.url}}</p>
			</a>
		</div>
	</div>
</div>


